<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Listar Sorteo</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<br>

		<div>
			<h2>Lista de Sorteos</h2>
		</div>
		<table class="table table-striped table-bordered">
			<thead class="thead-inverse">
				<tr>
					<th>Nombre</th>
					<th>fecha</th>
					<th>boletas</th>
					<th>numeros</th>
					<th>maximo</th>
					<th>Registrar Persona</th>
					<th>Generar Boletas</th>
					<th>Sortear</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="sorteo: ${sorteos}">
					<td th:text="${sorteo.nombre}"></td>
					<td th:text="${sorteo.fecha}"></td>
					<td th:text="${sorteo.boletas}"></td>
					<td th:text="${sorteo.numeros}"></td>
					<td th:text="${sorteo.maximo}"></td>
					<td><a th:href="@{/persona/registrar/} + ${sorteo.id}">
					<button class="btn btn-primary">Registrar persona</button>
					</a></td>

					<td><a th:href="@{/sorteo/generarBoletas/} + ${sorteo.id}">
							<button class="btn btn-primary">Generar Boletas</button>
					</a></td>
					<td>
							<button class="btn btn-primary">Sortear</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script
		src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script
		src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>
</html>